<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="spacle-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.png" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                             <a class="nav-link">Home</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                             <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                Solution <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                      <a href="#leadgeneration" class="nav-link forcusr">Lead Generation</a>
                                </li>

                                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                    <a  href="#customersupport" class="nav-link forcusr">Customer Support</a>
                                </li>

                                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                    <a href="#appointment"  class="nav-link forcusr">Appoinment</a>
                                </li>
                                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                    <a  href="#platformin"  class="nav-link forcusr">Platform</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a   target="_self"  class="nav-link forcusr" routerLink="pricing">Pricing</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/contact" routerLinkActive="active" class="nav-link book-demo">Book a Demo</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/about"  target="_self" class="nav-link forcusr">About</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a   target="_self" class="nav-link forcusr">Contact</a>
                        </li>
                    </ul>

                    <div class="others-options" *ngIf="!login">
                        <a routerLink="/auth/signup" class="default-btn sign-up">
                            <i class="bx bxs-hot"></i>Sign Up<span></span>
                        </a>
                        <a routerLink="/auth/signin" class="optional-btn">
                            <i  ss="bx bx-log-in"></i>Log In<span></span>
                        </a>
                    </div>
                    <div class="others-options" *ngIf="login">
                        <a  class="default-btn sign-up" routerLink="/profile">
                            <i class="bx bxs-hot"></i>Go to<span></span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
