<!-- Start Pricing Area -->
<section class="pricing-area pt-100 pb-70 bg-f4f5fe" id ="pricing">
    <div class="container">
        <div class="section-title">
            <h2>Choose The Pricing Plan</h2>
        </div>

        <div class="tab pricing-list-tab">
            <ul class="tabs">
                <!-- <li><a href="#">
                    <i class="bx bxs-calendar-check"></i> Monthly
                </a></li>

                <li><a href="#">
                    <i class="bx bxs-calendar-check"></i> Yearly
                </a></li> -->
            </ul>

            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                </div>

                                <div class="price">
                                    <sup>$</sup>0<sub>/m</sub>
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="bx bxs-badge-check"></i> 1 Active Chatbot </li>
                                    <li><i class="bx bxs-badge-check"></i> 300 Users</li>
                                    <li><i class="bx bxs-badge-check"></i> 10 stories</li>
                                    <li><i class="bx bxs-badge-check"></i> Conversation Cards and Media</li>
                                    <li><i class="bx bxs-badge-check"></i> Messenger, telegram, Website Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> One time Dev support</li>
                                    <li><i class="bx bxs-badge-check"></i> Chat History</li>
                                    <li><i class="bx bxs-badge-check"></i> Pre trained bot </li>
                                    <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat support</li>
                                    <li><i class="bx bxs-badge-check"></i> Dashboard Analytics</li>
                                    <li><i class="bx bxs-badge-check"></i> Instant Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> 10 days trial</li>                                </ul>

                                <div class="btn-box">
                                    <a  class="default-btn"><i class="bx bxs-hot"></i> Try It Free Now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Starter</h3>
                                </div>

                                <div class="price">
                                    <sup>$</sup>145<sub>/m</sub>
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="bx bxs-badge-check"></i> 3 Active Chatbot </li>
                                    <li><i class="bx bxs-badge-check"></i> Unlimited Users</li>
                                    <li><i class="bx bxs-badge-check"></i> 1000 stories</li>
                                    <li><i class="bx bxs-badge-check"></i> Conversation Cards and Media</li>
                                    <li><i class="bx bxs-badge-check"></i> Messenger, telegram, slack, Website Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> Full Dev support</li>
                                    <li><i class="bx bxs-badge-check"></i> Chat History</li>
                                    <li><i class="bx bxs-badge-check"></i> Pre trained bot </li>
                                    <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat support</li>
                                    <li><i class="bx bxs-badge-check"></i> Dashboard Analytics</li>
                                    <li><i class="bx bxs-badge-check"></i> Instant Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> monthly subscription</li>
                                </ul>

                                <div class="btn-box">
                                    <a class="default-btn"><i class="bx bxs-hot"></i> Get Now<span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Professional</h3>
                                </div>

                                <div class="price">
                                    <sup>$</sup>230<sub>/m</sub>
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="bx bxs-badge-check"></i> 5 Active Chatbot </li>
                                    <li><i class="bx bxs-badge-check"></i> Unlimited Users</li>
                                    <li><i class="bx bxs-badge-check"></i> unlimited stories</li>
                                    <li><i class="bx bxs-badge-check"></i> Conversation Cards and Media</li>
                                    <li><i class="bx bxs-badge-check"></i> Whatsapp, Messenger, telegram, slack, Website Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> Full Dev support</li>
                                    <li><i class="bx bxs-badge-check"></i> Chat History</li>
                                    <li><i class="bx bxs-badge-check"></i> Pre trained bot </li>
                                    <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat support</li>
                                    <li><i class="bx bxs-badge-check"></i> Dashboard Analytics</li>
                                    <li><i class="bx bxs-badge-check"></i> Instant Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> monthly subscription</li>
                                </ul>

                                <div class="btn-box">
                                    <a  class="default-btn"><i class="bx bxs-hot"></i> Get Now<span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                </div>

                                <div class="price">
                                    <sup>$</sup>0<sub>/y</sub>
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="bx bxs-badge-check"></i> 1 Active Chatbot </li>
                                    <li><i class="bx bxs-badge-check"></i> 300 Users</li>
                                    <li><i class="bx bxs-badge-check"></i> 10 stories</li>
                                    <li><i class="bx bxs-badge-check"></i> Conversation Cards and Media</li>
                                    <li><i class="bx bxs-badge-check"></i> Messenger, telegram, Website Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> One time Dev support</li>
                                    <li><i class="bx bxs-badge-check"></i> Chat History</li>
                                    <li><i class="bx bxs-badge-check"></i> Pre trained bot </li>
                                    <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat support</li>
                                    <li><i class="bx bxs-badge-check"></i> Dashboard Analytics</li>
                                    <li><i class="bx bxs-badge-check"></i> Instant Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> 10 days trial</li>                                </ul>

                                <div class="btn-box">
                                    <a  class="default-btn"><i class="bx bxs-hot"></i> Try It Free Now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Starter</h3>
                                </div>

                                <div class="price">
                                    <sup>$</sup>137<sub>/m</sub>
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="bx bxs-badge-check"></i> 3 Active Chatbot </li>
                                    <li><i class="bx bxs-badge-check"></i> Unlimited Users</li>
                                    <li><i class="bx bxs-badge-check"></i> 1000 stories</li>
                                    <li><i class="bx bxs-badge-check"></i> Conversation Cards and Media</li>
                                    <li><i class="bx bxs-badge-check"></i> Messenger, telegram, slack, Website Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> Full Dev support</li>
                                    <li><i class="bx bxs-badge-check"></i> Chat History</li>
                                    <li><i class="bx bxs-badge-check"></i> Pre trained bot </li>
                                    <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat support</li>
                                    <li><i class="bx bxs-badge-check"></i> Dashboard Analytics</li>
                                    <li><i class="bx bxs-badge-check"></i> Instant Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> monthly subscription</li>
                                </ul>

                                <div class="btn-box">
                                    <a  class="default-btn"><i class="bx bxs-hot"></i> Get Now<span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Professional</h3>
                                </div>

                                <div class="price">
                                    <sup>$</sup>220<sub>/m</sub>
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="bx bxs-badge-check"></i> 5 Active Chatbot </li>
                                    <li><i class="bx bxs-badge-check"></i> Unlimited Users</li>
                                    <li><i class="bx bxs-badge-check"></i> unlimited stories</li>
                                    <li><i class="bx bxs-badge-check"></i> Conversation Cards and Media</li>
                                    <li><i class="bx bxs-badge-check"></i> Whatsapp, Messenger, telegram, slack, Website Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> Full Dev support</li>
                                    <li><i class="bx bxs-badge-check"></i> Chat History</li>
                                    <li><i class="bx bxs-badge-check"></i> Pre trained bot </li>
                                    <li><i class="bx bxs-badge-check"></i> 24/7 Live Chat support</li>
                                    <li><i class="bx bxs-badge-check"></i> Dashboard Analytics</li>
                                    <li><i class="bx bxs-badge-check"></i> Instant Integration </li>
                                    <li><i class="bx bxs-badge-check"></i> monthly subscription</li>
                               </ul>

                                <div class="btn-box">
                                    <a class="default-btn"><i class="bx bxs-hot"></i> Get Now<span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->
