<ul class="nav flex-column shadow-lg">
    <li class="nav-item">
        <div style="height: 15rem;width: 100%;background-color: aqua;">

        </div >
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/profile" >Profile</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-cahtbots" >My ChatBots</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">DashBoard</a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink='/history' >History</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link " routerLink='/support' >Support</a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link " (click)="onLogout()" routerLink="/" style="cursor: pointer;" >LogOut</a>
      </li>
  </ul>
