<ul class="nav flex-column shadow-lg">
    <li class="nav-item">
        <div style="height: 15rem;width: 100%;background-color: azure;">

        </div >
    </li>
    <hr>
    <li class="nav-item">
      
      <a class="nav-link active" routerLink="/" ><i class="fas fa-home"></i> Home</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/profile" ><i class="fas fa-user"></i> Profile</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-cahtbots" ><i class="fas fa-robot"></i> My ChatBots</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard"> <i class="fas fa-chart-line"></i> DashBoard </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" routerLink='/history' ><i class="fas fa-history"></i> History</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link " routerLink='/support' ><i class="fas fa-info-circle"></i> Support</a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link " (click)="onLogout()" routerLink="/" style="cursor: pointer;" ><i class="fas fa-sign-out-alt"></i> LogOut</a>
      </li>
  </ul>

  