<div class="jobs" *ngFor="let job of jobs">
    <div class="card mb-3" style="width: 900px">
        <div class="row no-gutters">
          <!-- <div class="col-md-4">
            <img src="https://joeschmoe.io/api/v1/joe" class="card-img" alt="...">
          </div> -->
          <div class="col-12"  >
            <div class="card-body">
              <h3 class="card-title">{{ job }}</h3>
              <ul>
                  <li><a href="#" class="active">Full Time</a></li>
                  <li>|</li>
                  <li><a href="#" >India</a></li>
                  <li>|</li>
                  <li>May 8, 2020</li>
              </ul>
              <button class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Apply now</button>                        
            </div>                        
          </div>
      </div>
</div>               
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Resume</label>
            <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Resume">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>