<div class="jobs">
    <div class="card mb-3" style="width: 900px">
        <div class="row no-gutters">
          <!-- <div class="col-md-4">
            <img src="https://joeschmoe.io/api/v1/joe" class="card-img" alt="...">
          </div> -->
          <div class="col-12">
            <div class="card-body">
              <h3 class="card-title">Software Development</h3>
              <ul>
                  <li><a href="#" class="active">Full Time</a></li>
                  <li>|</li>
                  <li><a href="#" >India</a></li>
                  <li>|</li>
                  <li>May 8, 2020</li>
              </ul>
              <button class="btn btn-outline-primary btn-lg">Apply now</button>                        
            </div>                        
          </div>
      </div>
</div>               
</div>