<div class="container-fluid h-100">
    <div class="row h-100">
       <div class="col-2 pl-0 hidden-md-down">
            <app-profile-sidebar></app-profile-sidebar>
       </div>
        <div class="col-sm">
            <div class="row shadow-lg" style="margin-top: 8%;">
                <div class="col-lg-12" style="padding-left: 0;">
                    <div style="height: 20rem; background-color: #080A3C;text-align: center;color: white;" >
                      <img class="align-bottom" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        <span> {{ name }} </span>
                        <span> Status: Online </span>
                        <span> Edit Profile </span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row" style="margin-top: 5%;margin-bottom: 5%;"> 
                        <div class="col-lg-6">
                            <ul class="list-group">
                            <li class="list-group-item border-0">Name: {{ name }}</li>
                            <li class="list-group-item border-0">UserName: {{ username }}</li>
                            <li class="list-group-item border-0">Phone: {{ phone }}</li>
                            
                          </ul> 
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item rounded border-0">Website: {{ website }}</li>
                                <li class="list-group-item rounded border-0">Email: {{ email }}</li>
                                <li class="list-group-item rounded border-0">Company Name: {{ companyname }}</li>
                              </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

