ul {

  background-color:#ffffff;
  height: 100%;
  text-align: center;
}

html,body {
  height: 100%;
}

.custom-img {
  width: 100%;
}

.align-bottom {
  border-radius: 50%;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}