<app-header-two></app-header-two>

<div class="body-wrapper">
    <section class="job-header center">
        <div class="container">
            <div class="text-center">
                <h1 class="display-1">AiMemory</h1>
            </div>
        </div>
    </section>

    <section class="text">
        <div class="container">
            <p>We are hiring AiMemory for various roles in tech, design, growth and management.
                You can apply directly at AngelList or mail us at careers@significantbot.com.
                For internship apply at Internshala.
            </p>
        </div>
    </section>
</div>


<div class="job-posting">
    <div class="posting-header">
        <h1>Open Jobs Positions</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">All</a>
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
    </div>

    <!-- <div class="row"> -->
       <app-job-card></app-job-card>
    <!-- </div> -->
</div>

<app-footer></app-footer>





