@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap';

.job-header{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(247,106,30,1) 0%, rgba(241,157,39,1) 99%);
}
.container{
    /* background-color: darkorange; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center > h1{
    font-size: 50px;
    letter-spacing: 2.5px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #fff;
}

.text-center > p{
    font-size: 28px;
}

.text{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.text > .container > p{
    padding: 7% 16.5%;
    font-size: 22px;
    line-height: 2;
    text-align: center;
}

@media(max-width : 500px){
    .text > .container > p{
        padding: 1%;
        line-height: 2;
        text-align: center;
    }
}

.job-posting{
    padding: 0 7%;
}