
<div class="container-fluid h-100" style="padding: 0%;">
  <app-profile-responsive-bar></app-profile-responsive-bar>
    <div class="row h-100">
      <div class="col-2 pl-0 hidden-md-down disable-left-header">
        <app-profile-sidebar></app-profile-sidebar>
      </div>
       <div class="col-sm-10">
            <div class="row whole-graphs shadow-lg">
              <!-- Header section starts from here -->
                <div class="col-sm-12" style="height: 5%">
                  <span class="navbar-brand"> Dashboard </span>
                  <div class="dropdown float-right">
                    <button class="btn btn-secondary dropdown-toggle"
                     type="button"
                      id="dropdownMenuButton"
                       data-toggle="dropdown"
                        aria-haspopup="true"
                         aria-expanded="false"
                         style="margin-top: 5%;">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" *ngFor="let botId of botsId" #BotId 
                      (click)="onClickBotId(BotId)" style="cursor: pointer;">  
                      {{ botId }}
                    </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 line"  #containerRef>
                    <ngx-charts-line-chart
                    [view]= "[containerRef.offsetWidth, 400]"
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="messagesData"
                  
                    >
                    </ngx-charts-line-chart>
                  

                </div>
                <div class="col-sm-6 bar" #bar>
                    <ngx-charts-bar-vertical
                    [view]="[ bar.offsetWidth,  400]"
                    [scheme]="colorSchemeBar"
                    [results]="intentsData"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelBar"
                    [yAxisLabel]="yAxisLabelBar"
                    >
                  </ngx-charts-bar-vertical>
                </div>

                <div class="col-sm-6 line2" #piee>
                    <ngx-charts-line-chart
                    [view]= "[piee.offsetWidth, 400]"
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="sessionsData"
                  
                    >
                    </ngx-charts-line-chart>
                </div>

            </div >
        </div>

    </div>
    
</div>
