<app-preloader ></app-preloader>

<ng-container >
    <router-outlet></router-outlet>
</ng-container>

<ng-template >
    <ng-container >
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </ng-container>
</ng-template>

<ng-template >
    <ng-container>
        <!-- <app-header></app-header> -->
        <app-header-two></app-header-two>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </ng-container>
</ng-template>

<!-- <ng-container *ngIf="!(location == '/auth/signup' || location == '/auth/signin' || location == '/error-404')">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</ng-container> -->


<!-- If you want to show navigation in all pages -->
<!--
<ng-container>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</ng-container>
-->
