<div class="container-fluid h-100">
    <div class="row h-100">
       <div class="col-2 pl-0 hidden-md-down">
            <app-profile-sidebar></app-profile-sidebar>
       </div>
       <div class="col-sm">
        <div class="row h-100">
            <div class="col-sm h-100 bg-primary">
                <div style="height: 10%; background-color: aqua;">
                    
                </div>
                <div style="height: 10%; background-color: darkblue;">
                    
                </div>
                <div style="height: 10%; background-color: darkgoldenrod;">
                    
                </div>
                <div style="height: 10%; background-color: darkgray;">
                    
                </div>

            </div>
            <div class="col-sm h-100 bg-dark">
                <div class="text-left"> Hello vinay </div>
                <div class="text-right"> Hi Who Are You </div>
            </div >
        </div>
       </div>
        
    </div>
</div>

