<!-- Start Main Banner Area -->
<app-header></app-header>
<div class="banner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="banner-content">
                    <div class="content">
                        <div class="banner-content-slides owl-carousel owl-theme">
                            <div class="inner-content">
                                <h1>Totally Customised Chatbot Platform</h1>
                                <ul>
                                    <li>Filter 65% of your customer queries with customer support chatbot</li>
                                    <li>Engage with more customers by integration of your chatbot on social platforms</li>
                                </ul>

                                <a  class="default-btn"><i class="bx bxs-hot"></i>Try It Free Now<span></span></a>
                            </div>

                            <div class="inner-content">
                                <h1>Convert Leads into Happy Customers</h1>
                            

                                <ul>
                                    <li>Integrate Chatbot in your business in the easiest way possible and get maximum results</li>
                                    <li>Get 10x more leads with our fully managed lead generation bot services</li>
                                </ul>
                            

                                <a  class="default-btn"><i class="bx bxs-hot"></i>Try It Free Now<span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="banner-img bg-3">
                    <app-chatting></app-chatting>

                    <img src="assets/img/hero-image.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="shape19"><img src="assets/img/shape/18.png" alt="image"></div>
    <div class="shape22"><img src="assets/img/shape/21.png" alt="image"></div>
    <div class="shape23"><img src="assets/img/shape/22.svg" alt="image"></div>
    <div class="shape24"><img src="assets/img/shape/23.png" alt="image"></div>
    <div class="shape25"><img src="assets/img/shape/24.png" alt="image"></div>
    <div class="shape26"><img src="assets/img/shape/25.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/19.png" alt="image"></div>
</div>
<!-- End Main Banner Area -->
<!-- Start Services Area -->
<section class="services-area bg-right-color ptb-100" id="leadgeneration">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-content">
                <div class="content left-content">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h2>Lead Generation Virtual Assistant</h2>
                    <p>We use a set of contextual relevant questions and answers from various sources and initiate a conversation with your potential customer regarding their interest in specific products and services offered by your business. With our virtual assistant, no customer goes back without a reply and help them have maximum satisfaction level.
                    </p>

                    <!-- <a href="#" class="default-btn"><i class="bx bxs-spreadsheet"></i> Learn More<span></span></a> -->
                </div>
            </div>

            <div class="services-image">
                <div class="image">
                    <img src="assets/img/leadgeneration.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Services Area -->
<section class="services-area bg-left-color bg-f4f6fc ptb-100" id="customersupport">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-image">
                <div class="image">
                    <img src="assets/img/customersupport.png" alt="image">
                </div>
            </div>

            <div class="services-content">
                <div class="content">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h2>Customer Support Virtual Assistant</h2>
                    <p>For customer support virtual assistant, we use AI-powered deep learning algorithms and neural network intelligence to understand what the tone and intent of your customer’s questions are and help that potential customer can make a purchase more confidently. We never let you miss a potential buyer.
                    </p>

                    <!-- <a href="#" class="default-btn"><i class="bx bxs-spreadsheet"></i> Learn More<span></span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->
<!-- Start Services Area -->
<section class="services-area bg-right-color ptb-100" id="appointment">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-content">
                <div class="content left-content">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h2>Appointment Booking Virtual Assistant</h2>
                    <p>With this assistant, business owners such as yourself don’t need to hire an employee to manage all the incoming appointment chats. Instead, the assistant will manage all incoming traffic and automatically book the required appointment on your site and you will directly get the upcoming booking notifications.</p>

                    <!-- <a href="#" class="default-btn"><i class="bx bxs-spreadsheet"></i> Learn More<span></span></a> -->
                </div>
            </div>

            <div class="services-image">
                <div class="image">
                    <img src="assets/img/appoinmentbook.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->
<!-- <app-partner></app-partner> -->
<!-- <section class="bstfy_dark_mode bstfy_stepGuide_sec">
    <div class="container">
        <div class="bstfy_stepGuide_ttlBox">
            <h2>Solutions</h2>
           
        </div>

        <div class="bstfy_stepGuide_tab_mainBox">
            <div class="row">
                <div class="col-lg-6 order-lg-last">
                    <div class="bstfy_stepGuide_tab_rhtBox">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade active show" id="bstfy_step1" role="tabpanel" aria-labelledby="bstfy_step1-tab">
                                <div class="bstfy_stepGuide_tab_rhtBox_inr">
                                    <div class="bstfy_stepGuide_tab_imgBox">
                                        <img src="assets/img/leadgeneration.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="bstfy_step2" role="tabpanel" aria-labelledby="bstfy_step2-tab">
                                <div class="bstfy_stepGuide_tab_rhtBox_inr">
                                    <div class="bstfy_stepGuide_tab_imgBox">
                                        <img src="assets/img/customersupport.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="bstfy_step3" role="tabpanel" aria-labelledby="bstfy_step3-tab">
                                <div class="bstfy_stepGuide_tab_rhtBox_inr">
                                    <div class="bstfy_stepGuide_tab_imgBox">
                                        <img src="assets/img/appoinmentbook.jpg
                                        " alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first mymarbot">
                    <div class="bstfy_stepGuide_tab_lftBox">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <div class="bstfy_stepGuide_tab_lftBox_inr active" data-toggle="pill" data-target="#bstfy_step1" role="tab" aria-controls="bstfy_step1" aria-selected="true">
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <div class="bstfy_stepGuide_tab_iconBox">
                                           
                                            <div class="icon">
                                                <i class='bx bx-message'></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-12">
                                        <div class="bstfy_stepGuide_tab_discBox">
                                            <h3>Lead Generation virtual assistant</h3>
                                            <p> Lead generation virtual assistant uses a set of contextual relevant questions and answers from various sources and initiates a conversation with a potential customer regarding their interest in specific products and services offered by your business. Research data shows that almost about 55%of the total incoming traffic is put on hold as there are no human representatives free to answer them and customers often get disappointed and often leave the platform and this whole issue can be avoided by integrating any of our virtual assistant packages.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bstfy_stepGuide_tab_lftBox_inr" data-toggle="pill" data-target="#bstfy_step2" role="tab" aria-controls="bstfy_step2" aria-selected="false">
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <div class="bstfy_stepGuide_tab_iconBox">

                                            
                                    <div class="icon">
                                        <i class='bx bx-support'></i>
                                    </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-12">
                                        <div class="bstfy_stepGuide_tab_discBox">
                                            <h3>Customer support virtual assistant</h3>
                                            <p>Worried if chatbot fails to response to any queries? Dont worry, the platform allows you to keep an eye on each and every conversation through a live chat feature so you can jump in at any point.A customer support virtual assistant uses AI-powered deep learning algorithms and neural network intelligence to understand what the tone and intent of your customer’s questions are and interact with that potential customer so that they can make a purchase more confidently and a satisfied customer always comes back for more which is why there’s a such a high demand in AI-powered virtual assistant.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bstfy_stepGuide_tab_lftBox_inr" data-toggle="pill" data-target="#bstfy_step3" role="tab" aria-controls="bstfy_step3" aria-selected="false">
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <div class="bstfy_stepGuide_tab_iconBox">
                                            
                                            <div class="icon">
                                                <i class='bx bx-book'></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-12">
                                        <div class="bstfy_stepGuide_tab_discBox">
                                            <h3>Appointment booking virtual assistant</h3>
                                            <p>With this assistant, business owners such as yourself don’t need to hire an employee to manage all the incoming appointment chats. Instead, the assistant will manage all incoming traffic and automatically book the required appointment on your site and you will directly get the upcoming booking notifications 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<div class="bstfy_stepGuide_sectwo">
<section class="bstfy_feat2_sec bstfy_abtUsFeat_sec" id="platformin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bstfy_feat2_main_ttlBox">
                    <h2>Platforms We Support.</h2>
                    <p>We help you build your Personalized Chatbot for All major platforms.</p>
                    <div class="bstfy_feat2_ctaBox mybotpad">
                        <a routerLink="/contact" class="default-btn">Start Free Trial</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-4">
                        <article class="bstfy_feat2_mainBox">
                            <div class="bstfy_feat2_imgBox">
                                <div class="icon">
                                    <i class='bx bx-window'></i>
                                </div>
                            </div>

                            <div class="bstfy_feat2_ttlBox">
                                <h3>Website Chatbot</h3>
                                <p>Have your own website chatbot for effective customer support.</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="bstfy_feat2_mainBox">
                            <div class="bstfy_feat2_imgBox">
                        
                                <div class="icon">
                                    <i class='bx bxl-messenger'></i>
                                </div>
                            </div>

                            <div class="bstfy_feat2_ttlBox">
                                <h3>Facebook Messenger Chatbot</h3>
                                <p>Integrate our powerful AI enabled chatbot for Facebook Messenger.</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="bstfy_feat2_mainBox">
                            <div class="bstfy_feat2_imgBox">
                            
                    
                                    <div class="icon">
                                        <i class='bx bxl-whatsapp'></i>
                                    </div>
                                
                
                             
                            </div>

                            <div class="bstfy_feat2_ttlBox">
                                <h3>Whatsapp Chatbot</h3>
                                <p>Get instant leads using our WhatsApp Chatbot.</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="bstfy_feat2_mainBox">
                            <div class="bstfy_feat2_imgBox">
                               
                                <div class="icon">
                                    <i class='bx bx-message-rounded'></i>
                                </div>
                            </div>

                            <div class="bstfy_feat2_ttlBox">
                                <h3>SMS Chatbot</h3>
                                <p>Better conversions through SMS Chatbot</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="bstfy_feat2_mainBox">
                            <div class="bstfy_feat2_imgBox">
                              
                                <div class="icon">
                                    <i class='bx bxl-slack'></i>
                                </div>
                            </div>

                            <div class="bstfy_feat2_ttlBox">
                                <h3>SM Slack</h3>
                                <p>Project Communication now easy on our Slack Chatbot feature.</p>
                            </div>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="bstfy_feat2_mainBox">
                            <div class="bstfy_feat2_imgBox">
                              
                                <div class="icon">
                                    <i class='bx bxl-telegram'></i>
                                </div>
                            </div>

                            <div class="bstfy_feat2_ttlBox">
                                <h3>Telegram</h3>
                                <p>Converse easily on our Telegram Chatbot.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- Start Features Area -->
<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Features</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-conversation'></i>
                    </div>
                    <h3>Rich Messaging and Chat Action</h3>
                    <p>This feature allows cards, carousels, and a quick set of contextual replies automatically by using AI-powered deep learning algorithms in any particular conversation without the need for any human interaction or coding. It all happens in the background automatically and it can also manage advanced actions and email without any sort of coding.</p>

                    <div class="back-icon">
                        <i class='bx bx-conversation'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-customize'></i>
                    </div>
                    <h3>AI-enabled and Machine learning features</h3>
                    <p>It provides your chatbot with suitable examples of questions that a particular customer may ask and uses natural language and domain knowledge to understand what a particular customer is asking for and reply accordingly to answer their questions. This not only builds up a customer’s trust and confidence in their purchase.</p>

                    <div class="back-icon">
                        <i class='bx bx-customize'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-slider-alt'></i>
                    </div>
                    <h3>Integrate Webhook and API</h3>
                    <p>To build a more advanced and complex virtual assistant, webhooks could be very useful and our APIs can help you connect to your database, customer service tool among other services to answer a contextual answer to your customers. This is particularly for those who are looking to manually build a virtual assistant for yourself and you will be glad to see we provide powerful tools such as Webhook and various others to make sure you get all you need.
                    </p>

                    <div class="back-icon">
                        <i class='bx bx-slider-alt'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <h3>Get 24/7 customer support</h3>
                    <p>A customer service virtual assistant is an artificial intelligence virtual assistant (AIVA) designed from the ground up with machine learning algorithms and computer vision to understand what a customer is asking for and answer those basic customer questions via a business messenger using different keywords that makes its replies more human and less repetitive. That means fasterand more consistent support for your customers. </p>

                    <div class="back-icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-bell'></i>
                    </div>
                    <h3>Our virtual assistant never stops learning</h3>
                    <p>Unlike other simple assistants, our virtual assistant is built with AI and neural network processing and due to these features, our assistant keeps learning something new consuming and processing large chunks of data from different sources and previous interactions to better understand the context and resolve customer queries quickly. </p>

                    <div class="back-icon">
                        <i class='bx bx-bell'></i>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-shape-circle'></i>
                    </div>
                    <h3>Machine LearningAre AI features right for? :</h3>
                    <p>AI is for everyone, but companies often struggle to understand its potential and prioritizes its resources elsewhere. It is high time to plan an early investment to implement AI features and capabilities into website, workflow, and services.</p>

                    <div class="back-icon">
                        <i class='bx bx-shape-circle'></i>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-message-square-dots'></i>
                    </div>
                    <h3>Welcoming Message:</h3>
                    <p>Virtual assistant greets every customer that lands onto to website or platform with a personalized welcome which initiates a conversation flow that enhances customer trust and ultimately lands a purchase.</p>

                    <div class="back-icon">
                        <i class='bx bx-message-square-dots'></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-briefcase'></i>
                    </div>
                    <h3>Now that you know how these virtual assistants work</h3>
                    <p>Well, pretty much everywhere including </p>
                    <ul>
                        <li>Whatsapp</li>
                        <li>Facebook messenger</li>
                        <li>Telegram</li>
                        <li>Or Normally through SMS</li>
                    </ul>
                     
                     

                    <div class="back-icon">
                        <i class='bx bx-briefcase'></i>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-notepad'></i>
                    </div>
                    <h3>Why AI-enabled Chatbots are significant to your business </h3>
                    <p>While these new virtual assistant features are sure to attract more customer attention but it’s important that you retain your existing customer base that is not used to a virtual assistant. Well, that is why we’ve built our virtual assistant with AI and deep learning to make sure it understands exactly what your customer is asking for and help your customer make the right decision.
                    </p>

                    <div class="back-icon">
                        <i class='bx bx-notepad'></i>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Services Area -->
<!-- <section class="services-area bg-right-color bg-f4f6fc ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-content">
                <div class="content left-content">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h2>Path is here for faster way of connections with your customers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <a href="#" class="default-btn"><i class="bx bxs-spreadsheet"></i> Learn More<span></span></a>
                </div>
            </div>

            <div class="services-image">
                <div class="image">
                    <img src="assets/img/services-image/1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Services Area -->

<!-- Start Services Area -->
<!-- <section class="services-area bg-left-color bg-f4f6fc ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-image">
                <div class="image">
                    <img src="assets/img/services-image/2.png" alt="image">
                </div>
            </div>

            <div class="services-content">
                <div class="content">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h2>The best Innovative Chatbot and automations are here to expand</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <a href="#" class="default-btn"><i class="bx bxs-spreadsheet"></i> Learn More<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Services Area -->
<app-pricing-plan></app-pricing-plan>
<!-- Start Our Loving Clients Area -->
<!-- <section class="our-loving-clients ptb-100 bg-color-f8fbfa">
    <div class="container">
        <div class="section-title">
            <h2>Our Loving Clients</h2>
        </div>

        <div class="clients-logo-list align-items-center">
            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/1.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/2.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/3.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/4.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/5.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/6.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/7.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/8.png" alt="image">
                </a>
            </div>

            <div class="single-clients-logo">
                <a href="#">
                    <img src="assets/img/clients-image/9.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</section> -->
<!-- End Our Loving Clients Area -->

<!-- Start Testimonials Area -->
<section class="testimonials-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Whats Our Clients Said About <span>AiMemory</span></h2>
        </div>

        <div class="testimonials-slides owl-carousel owl-theme">
            <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/client3.jpg" alt="image">
                    <h3>Vidit Guha</h3>
                    <!-- <span>CEO at Envato</span> -->
                </div>

                <div class="testimonials-desc">
                    <p>The best for us was the possibility to “train” the software with our own needs. Completely customised chatbots.</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div>

            <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/client2.jpg" alt="image">
                    <h3>Chris Greene</h3>
                    <!-- <span>CEO at EnvyTheme</span> -->
                </div>

                <div class="testimonials-desc">
                    <p>Very easy to implement. They have a great team of problem solvers who will give you the best solution for your business.</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div>
            <div class="single-testimonials-item">
                <div class="client-info img-fluid">
                    <img src="https://www.iimtu.com/Uploads/image/412imguf_VCM.jpg" alt="image">
                    <h3>Abhinav Mohan</h3>
                    <span>Pro-Chancellor, IIMT University, Meerut</span> 
                </div>

                <div class="testimonials-desc">
                    <p>Very easy to implement. They have a great team of problem solvers who will give you the best solution for your business.</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div>

            <div class="single-testimonials-item">
                <div class="client-info img-fluid">
                    <img src="https://www.lpu.in/about_lpu/images/leadership/2.jpg" alt="image">
                    <h3>RAMESH KANWAR</h3>
                    <span>Vice-Chancellor, Lovely Professional University</span> 
                </div>

                <div class="testimonials-desc">
                    <p>Very easy to implement. They have a great team of problem solvers who will give you the best solution for your business.</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div>

            <!-- <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/client1.jpg" alt="image">
                    <h3>Jessica Harris</h3>
                    <span>CEO at 3S</span>
                </div>

                <div class="testimonials-desc">
                    <p>Our leads are now converting at faster pace. Our business has grown with the chatbot support. Kudos team!!</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div> -->

            <!-- <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/client2.jpg" alt="image">
                    <h3>James Andy</h3>
                    <span>CEO at 3S</span>
                </div>

                <div class="testimonials-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div> -->

            <!-- <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/client1.jpg" alt="image">
                    <h3>Sarah Taylor</h3>
                    <span>CEO at EnvyTheme</span>
                </div>

                <div class="testimonials-desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- End Testimonials Area -->

<!-- Start Team Area -->
<!-- <section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Meet Our experts always ready to help you</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team-image/1.jpg" alt="image">

                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="content">
                        <h3>Alex Maxwel</h3>
                        <span>CEO & Founder</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team-image/2.jpg" alt="image">

                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="content">
                        <h3>Sarah Taylor</h3>
                        <span>UX/UI Designer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team-image/3.jpg" alt="image">

                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="content">
                        <h3>Lee Munroe</h3>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team-image/4.jpg" alt="image">

                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="content">
                        <h3>Calvin Klein</h3>
                        <span>Support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Team Area -->

<!-- Start App Download Area -->
<!-- <section class="app-download-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="app-download-image">
                    <img src="assets/img/mobile.png" alt="image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="app-download-content">
                    <span class="sub-title">Download App</span>
                    <h2>Supporting your customers on the go with our mobile app</h2>

                    <div class="btn-box">
                        <a href="#" class="apple-store-btn">
                            <img src="assets/img/applestore.png" alt="image">
                            Download on the
                            <span>Apple Store</span>
                        </a>

                        <a href="#" class="play-store-btn">
                            <img src="assets/img/playstore.png" alt="image">
                            Get it on
                            <span>Google Play</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End App Download Area -->

<!-- Start Blog Area -->
<section class="blog-area pt-70">
    <div class="container">
        <!-- <div class="section-title">
            <h2>News and Insights</h2>
        </div> -->

        <!-- <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="#"><img src="assets/img/blog-image/1.jpg" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> Oct 14, 2019</div>
                    </div>

                    <div class="post-content">
                        <h3><a href="#">50 world-changing people -- We lost in the 2010s</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/author-image/1.jpg" alt="image">

                                <h6>Sarah Taylor</h6>
                            </div>

                            <div class="details-btn">
                                <a href="#"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="#"><img src="assets/img/blog-image/2.jpg" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> Oct 16, 2019</div>
                    </div>

                    <div class="post-content">
                        <h3><a href="#">Don't buy a tech gift until you read these rules</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/author-image/2.jpg" alt="image">

                                <h6>Michel John</h6>
                            </div>

                            <div class="details-btn">
                                <a href="#"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="#"><img src="assets/img/blog-image/3.jpg" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> Oct 18, 2019</div>
                    </div>

                    <div class="post-content">
                        <h3><a href="#">The golden rule of buying a phone as a gift</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/author-image/3.jpg" alt="image">

                                <h6>Lucy Eva</h6>
                            </div>

                            <div class="details-btn">
                                <a href="#"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="blog-notes">
                    <p>Insights to help you do what you do better, faster and more profitably. <a href="#">Read Full Blog</a></p>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- End Blog Area -->

<!-- Start Subscribe Area -->
<section class="subscribe-area bg-f4f5fe">
    <div class="container">
        <div class="subscribe-content">
            <h2>Stay Updated for all the latest developments</h2>

            <form class="newsletter-form" data-toggle="validator">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8">
                        <input type="email" class="input-newsletter" placeholder="aim@aimemory.com" name="EMAIL" required autocomplete="off">
                    </div>

                    <div class="col-lg-4 col-md-4">
                         <button type="submit"><i class="bx bxs-hot"></i>Schedule a demo</button>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div id="validator-newsletter" class="form-result"></div>
                    </div>
                </div>
            </form>

            <div class="shape14"><img src="assets/img/shape/13.png" alt="image"></div>
            <div class="shape15"><img src="assets/img/shape/14.png" alt="image"></div>
            <div class="shape16"><img src="assets/img/shape/15.png" alt="image"></div>
            <div class="shape17"><img src="assets/img/shape/16.png" alt="image"></div>
            <div class="shape18"><img src="assets/img/shape/17.png" alt="image"></div>
        </div>
    </div>
</section>
<!-- End Subscribe Area -->


<!-- chatbot container -->
<div class="chatbot-container py-2 shadow m-3" id="chat-container">
    <div class="cross m-0">
        <p><i class="fas fa-times ml-auto bg-light mr-2"></i></p>
    </div>
    
    <iframe
      src="https://botscuadapi.herokuapp.com/ourBot"
      frameBorder="0">
    </iframe>
  </div>
<!-- chatbot container ends -->

<!-- chatbot button -->
<div>
    <button class="round-button mr-3 mb-3 shadow justify-content-center align-items-center">
      <span class="chatbot-span">
        <svg enable-background="new 0 0 500 500" height="34px" id="Layer_1" version="1.1" viewBox="0 0 500 500" width="34px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path clip-rule="evenodd" d="M36.992,326.039c0,20.079,16.262,36.34,36.34,36.34h54.513v56.062  c0,10.087,8.181,18.168,18.172,18.168c5.092,0,9.714-2.095,12.989-5.448l68.78-68.781h199.881c20.078,0,36.34-16.261,36.34-36.34  V98.902c0-20.079-16.262-36.341-36.34-36.341H73.333c-20.079,0-36.34,16.262-36.34,36.341V326.039z M146.018,221.557  c0-12.536,10.177-22.713,22.713-22.713c12.536,0,22.713,10.177,22.713,22.713c0,12.537-10.177,22.713-22.713,22.713  C156.194,244.27,146.018,234.093,146.018,221.557z M227.787,221.557c0-12.536,10.177-22.713,22.713-22.713  c12.537,0,22.715,10.177,22.715,22.713c0,12.537-10.178,22.713-22.715,22.713C237.964,244.27,227.787,234.093,227.787,221.557z   M309.556,221.557c0-12.536,10.176-22.713,22.715-22.713c12.537,0,22.711,10.177,22.711,22.713  c0,12.537-10.174,22.713-22.711,22.713C319.731,244.27,309.556,234.093,309.556,221.557z" fill="#fff" fill-rule="evenodd"></path></svg>
      </span>
  </button>
</div>
<!-- chatbot button ends -->


<!-- Start Free Trial Area -->
<section class="free-trial-area ptb-100 bg-f4f5fe">
    <div class="container">
        <div class="free-trial-content">
            <h2>Still Confused? Sign up for a 10 day FREE trial</h2>
            <p>Get guaranteed leads and conversions in real quick time</p>

            <a href="#" class="default-btn"><i class="bx bxs-hot"></i> Try It Free Now <span></span></a>
        </div>
    </div>

    <div class="shape10"><img src="assets/img/shape/10.png" alt="image"></div>
    <div class="shape11"><img src="assets/img/shape/7.png" alt="image"></div>
    <div class="shape12"><img src="assets/img/shape/11.png" alt="image"></div>
    <div class="shape13"><img src="assets/img/shape/12.png" alt="image"></div>
</section>
<!-- End Free Trial Area -->

<app-footer></app-footer>






