<div class="navbar-area navbartwo">
    <div class="spacle-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.png" alt="logo">
                </a>
  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                          <a routerLink="/profile" routerLinkActive="active" class="nav-link book-demo">Profile</a>
                      </li>
                      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a routerLink="/mychatbots" routerLinkActive="active" class="nav-link book-demo">My Chatbots</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link book-demo">Dashboard</a>
                  </li>
                  <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a routerLink="/support" routerLinkActive="active" class="nav-link book-demo">Support</a>
                </li>                     
                    </ul>
                    <div class="others-options">
                      <a  class="default-btn sign-up">
                          <i class="fas fa-power-off"></i>Log Out<span></span>
                      </a>
                  </div>
  
                </div>
            </nav>
        </div>
    </div>
  </div>
  <div class="navbar-area forbordbot navbarforhead">
    <div class="spacle-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.png" alt="logo">
                </a>
  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <!-- <ul class="navbar-nav">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                          <a routerLink="/profile" routerLinkActive="active" class="nav-link book-demo">Profile</a>
                      </li>
                      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a routerLink="/mychatbots" routerLinkActive="active" class="nav-link book-demo">My Chatbots</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link book-demo">Dashboard</a>
                  </li>
                  <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a routerLink="/support" routerLinkActive="active" class="nav-link book-demo">Support</a>
                </li>                     
                    </ul> -->
                    <div class="others-options borforname">
                    <p class="maop"></p>
                    <p class="maosmal">Username: </p>
                  </div>
  
                </div>
            </nav>
        </div>
    </div>
  </div>
  <div class="page-wrapper chiller-theme toggled navbarone">
    <!-- <a id="show-sidebar" class="btn btn-sm btn-dark" routerLink="/">
        <i class="fas fa-bars"></i>
    </a> -->
    <!-- <div id="show-sidebar" class="btn btn-sm btn-dark" style="cursor: pointer;">
        <i class="fas fa-chevron-right"></i>
    </div> -->
  
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- <div class="sidebar-brand">
                <a routerLink="/dashboard">User Portal</a>
                <div id="close-sidebar" style="cursor: pointer;">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div> -->
            <!-- <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                         src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <div class="user-info">
            <span class="user-name"><strong>
           
                </strong>
            </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
                </div>
            </div> -->
  
            <!-- sidebar-search  -->
            <div class="sidebar-menu bred">
                <ul>
  
                    <li class="sidebar-dropdown cent">
                        <a routerLink="/">
                            <i class="fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
  
                    <li class="sidebar-dropdown cent">
                        <a routerLink="/profile">
                            <i class="fas fa-users"></i>
                            <p>Profile</p>
                        </a>
                    </li>
                    
                    <li class="sidebar-dropdown cent">
                        <a routerLink="/mychatbots">
                            <i class="fas fa-users"></i>
                            <p>My Chatbots</p>
                        </a>
                    </li>
  
                    <li class="sidebar-dropdown cent">
                        <a routerLink="/dashboard">
                            <i class="fa fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
  
                    <!-- <li class="sidebar-dropdown">
                        <a routerLink="/notifications">
                            <i class="fas fa-bell"></i>
                            <span>Notifications</span>
                        </a>
                    </li> -->
  
                    <li class="sidebar-dropdown cent">
                        <a routerLink="/history">
                            <i class="fas fa-history"></i>
                            <p>History</p>
                        </a>
                    </li>
  
                    <!-- <li class="header-menu">
                        <span>Extra</span>
                    </li> -->
                    <!-- <li>
                        <a routerLink="/docs">
                            <i class="fa fa-book"></i>
                            <span>Documentations</span>
                            <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                    </li> -->
                    <li class="sidebar-dropdown cent centactive">
                        <a routerLink="/support"  class="myactive">
                            <i class="fas fa-question"></i>
                            <p>Support</p>
                        </a>
                    </li>
                    <li class="sidebar-dropdown cent">
                        <a>
                            <i class="fas fa-power-off"></i>
                            <p style="cursor:pointer">log out</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- <div class="sidebar-bottom">
               <a (click)="logout()">
                            <i class="fas fa-power-off"></i>
                            <span style="cursor:pointer">&nbsp;&nbsp;&nbsp; log out</span>
                </a>
          </div> -->
        </div>
            <!-- sidebar-menu  -->
    </nav>
  </div>
<div class="page-content">


<div class="container myelement">

    <h4 class="elemnthead shadow"> Support</h4>
    <p class="lead text-center mt-3 mb-3">You can send us query, feedback, bug or suggestion. We will start working on it as fast as possible.</p>
   <form name="supportForm"  class="mypadform">
       <div class="form-group row justify-content-around">
         
           <div class="col-12 col-sm-6 my-3">
               <label class="lead mx-1 my-2">Request Type</label>
            <div class="dropdown">
                <select class="form-control forsel" name="requestType" id="requestType"   required>
                   
                    <option value="Request Type" disabled>Request Type</option>
                    <option value="Feedback">Feedback</option>
                    <option value="Bug">Bug</option>
                    <option value="Feature Request">Feature Request</option>
                    <option value="Account Question">Account Question</option>
                </select>
                <div  class="invalid-feedback">
                    <div >Request Type is required</div>
                </div>
              </div>                    
            </div>

            <div class="col-12 col-sm-6 my-3">
                <div class="dropdown">
                    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Low</a>
                      <a class="dropdown-item" href="#">Medium</a>
                      <a class="dropdown-item" href="#">High</a>
                      <a class="dropdown-item" href="#">Critical</a>
                    </div> -->
                    <label class="lead mx-1 my-2">Urgency</label>
                    <select class="form-control forsel" name="urgency" id="urgency"    required>
                      
                        <option value="urgency" disabled>urgency</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Critical">Critical</option>
                    </select>
                    <div class="invalid-feedback">
                        <div >Urgency is required</div>
                    </div>
                  </div>
            </div>
          
       </div>

       <div class="form-group row justify-content-around">
        <div class="col-12 col-sm-6">
            <label class="lead mx-1">Subject</label>
             <input class="Sinput_form my-3 form-control" id="subject" name="subject" placeholder="Your Subject" type="text" required required>
             <div  class="invalid-feedback">
                 <div >Subject is required</div>
             </div>
         </div>
         <div class="col-12 col-sm-6">
            <label class="lead mx-1">Agent Name</label>
             <input class="Sinput_form form-control my-3" id="Agent Name" name="agentName" placeholder="Agent Name" type="text"  required>
             <div  class="invalid-feedback">
                 <div >Agent Name is required</div>
             </div>
         </div>
        </div>


    

        <div class="form-group row justify-content-around">
            <div class="col-12 col-sm-12">
                 <label class="lead mx-1">Message</label>
                <textarea class="form-control Saddress_area my-3" id="message" name="message" cols="40" rows="4" placeholder="Your Message"
                  required>
               </textarea>
               <div class="invalid-feedback">
                <div >Yor Message is required</div>
            </div>
            </div>
        </div>
       

        <div class="form-group row justify-content-around"> 
            <button name="submit" type="submit" class="btn btn-outline-secondaryfilled btn-lg shadow-sm">&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
   </form> 
</div>


</div>
