
<!-- Start Feedback Area -->

<div class="page-content">

    <div class="container my-5">
        <h5 class="text-center">Please Provide Your Mail-id</h5>
        <!-- <p class=" text-center mb-5">You can change your info from here</p> -->
        <form name="form">
       
                <div class="form-group row ">
                    <div class="col-12 col-sm-12">
                        <label class="  ">Email-Id</label>
                               <input type="email" placeholder="Your email address" class="form-control" name="email"   required>
                               <div class="invalid-feedback">
                                   <div>Email is required</div>
                               </div>
                               
                    </div>
    
                </div>
    

            <div class="form-group row ">
                <div class="ml-3">
                    <!-- <button type="button" class="btn btn-outline-secondary mr-1" onclick="editProfile()">&nbsp Edit Profilez
                        &nbsp
                    </button> -->
                    <!-- <button name="submit" type="submit" id="submit" class="ml-1 btn btn-outline-secondary" disabled>Update
                        Profile
                    </button> -->
                    <button name="submit" type="submit" id="submit" class="btn btn-sm  mr-1 btn-success" >Submit</button>
                </div>
            </div>
        </form>
    </div>   
    </div>
    
    <!-- <div class="col-md-2"><app-sidenav></app-sidenav></div> -->




