<!-- Start Error Area -->
<section class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="../../../assets/img/success.png" alt="error" >

                    <h3>Payment Successfully Done</h3>
                    <p>Thank You For Choosing Us!!</p>

                    <a href="/" class="default-btn"><i class='bx bx-rotate-left'></i>Go to Home<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Error Area -->
